<html>
    <body>
        <form action="/produtos" method="post">
            <div>
                <label for="titulo">Titulo</label>
                <input type="text" name="titulo" id="titulo" placeholder="coloque o titulo do livro"/>
            </div>
            <div>
                <label for="preco">Preço</label>
                <input type="text" name="preco" id="preco" placeholder="coloque o preco do livro"/>
            </div>
            <div>
                <label for="descricao">Descricao</label>
                <textarea cols="40" rows="10" name="descricao" id="descricao" placeholder="coloque a descricao do livro"/></textarea>
            </div>

            <input type="submit" value="gravar"/>
        </form>
    </body>
</html>