body {
	font-family: "Crimson Text", "Times New Roman", serif;
	background-color: #F2FFFC;
	font-size: 120%;
	line-height: 1.5;
}

h1, h2 {
	font-family: "Open Sans Condensed", "Arial", sans-serif;
}

main h1 {
	text-align: center;
	background-color: #851944;
	color: #FFF;
	padding: 1.25rem;
	border-bottom: 0.5em solid black;
	font-size: 3em;
	text-transform: uppercase;
}

p {
	text-align: justify;
	margin: 1em 0;
}

blockquote {
	background-color: #D9E5E3;
	border: 0.5ch solid #C2CCCA;
	width: 12.5ch;
	box-sizing: border-box;
}

.clear-fix { 
	clear: both;
}

.fiat {
	float: right;
	margin-left: 20px;
}

.petrobras {
	float: left;
	margin-right: 20px;
}

.navegacao-site {
	background-color: #3C1D3D;
	color: #F2FFFC;
}

.icones-sociais li {
	display: inline-block;
}

.icones-sociais a {
	width: 40px;
	height: 40px;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	color: rgba(0, 0, 0, 0)
}

.github {
	background-image: url("github.png");
}

.twitter {
	background-image: url("twitter.png");
}

.linkedin {
	background-image: url("linkedin.png");
}

.titulo-principal {
    font-size: 300%;
    text-align: center;
    background-color: #851944;
    color: #FFF;
    padding: 2rem;
    border-bottom: .5rem solid #000;
}

footer {
	background-color: #000;
	color: #F2FFFC;
	position: fixed;
	bottom: 0px;
	width: 100%;
}

nav a {
	color: #F2FFFC;
	text-transform: lowercase;
}

main a {
	color: #851944;
}

aside a {
	display: inline-block;
	color: inherit;
	font-family: "Open Sans Condensed", sans-serif;
}

blockquote, aside, footer {
    padding: 1em;
}

main div {
	max-width: 90%;
	margin: auto;
	padding: 1.5rem 0;
	padding-bottom: 5rem;
}

aside {
	text-align: center;
	clear: right;
	box-sizing: border-box;
	width: 15%;
	position: relative;
	top: 310px;
}

aside h1 {
	font-size: 30px;
	margin-bottom: 25px;
}

strong {
	font-weight: bold;
}

em {
	font-style: italic;
}

h2 {
	font-size: 30px;
	clear: both;
}

aside, img {
	float: right;
	border-left: .5em solid #000;
	border-bottom: .5em solid #000;
	box-sizing: border-box;
}

main {
	float: left;
	width: 80%;
}

cite {
	font-style: italic;
	float: right;
	display: block;
}

.minha-foto { 
	position: absolute;
	top: 0px;
	right: 0px;

}